body {
  overflow-x: hidden;
  box-sizing: border-box;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,
    rgba(234,249,249,0.67) 0.1%,
     rgba(239,249,251,0.63) 90.1% );
}

